/* DEBUG */
.debug {
    border: 1px solid red;
}

/* HEADERS */
.arrow-button {
    font-size: 80%;
}

.arrow-button:hover {
    color: #ccc;
    cursor: pointer;
    user-select: none;
}

#game-header {
    display: inline-block;
    width: 130px;
    text-align: center;
}

#level-header {
    display: inline-block;
    min-width: 100px;
    text-align: center;
}

/* OPTIONS BAR */
#optionsbar {
    float: right;
}

#optionsbar * {
    margin: 0px 5px 0px 5px;
}

#sobdiv {
    font-size: 1.8em;
    font-weight: bold;
}

#sobdiv * {
    /* border: 1px solid red; */
    margin: 0;
}

#sobdiv label {
    vertical-align: -25%;
}

#info {
    font-size: 1.8em;
}

/* Circle from: https://jsfiddle.net/hg7nP/7/ */
.circle {
    display: inline-block;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    width: 1.8ex;
    height: 1.8ex;
    font-size: 1.4ex;
    line-height: 2ex;
    border-radius: 1.2ex;
    margin-right: 4px;
    padding: 1px;
    color: white;
    background: transparent;
    border: 1px solid white;
    text-decoration: none;
}

.circle:hover {
    color: #333333;
    background: white;
    border-color: white;
    text-decoration: none;
    cursor: pointer;
}

/* POP UP */
html {
    padding: 0px;
}

#main-div {
    padding: 20px;
}

#popup-div {
    visibility: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
}

#popup {
    margin: 5% 25% 5% 25%;
    padding: 20px 40px 20px 40px;;
    background: #333333;
}

#popup h1 {
    text-align: center;
}

#popup-close {
    float: right;
    font-size: 0.8em;
}

#popup-close:hover {
    color: #ccc;
    cursor: pointer;
}

#popup p {
    font-size: 1em;
}

/* HORIZONTAL FORMAT */
.route-container-horizontal {
    height: 180px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.route-horizontal {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.route-selected {
    border: 2px solid rgb(150,30,30);
}

.route-description-horizontal {
    margin-left: 6px;
    overflow: hidden;
}

/* ELEMENTS FORMAT */
.route-resolutions {
    color: #aaa;
    text-overflow: ellipsis;
    white-space: nowrap;
}